
.container{
    width: 300px;
    background:#205b7a;
    border-radius: 5px;
    padding: 10px 5px;
}
h1{
    font-size: 22px;
}
.button{
    padding: 20px;
    margin: 0px 0px;
    border: unset;
    border-radius: 9px;
    cursor: pointer;
    font-size: 20px;
    width: 66px;
    background: #142f44;
    color: #fff;
}
.row{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row input{
    font-size: 23px;
    margin: 0px;
    padding: 10px px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 291px;
}
